composer.lock
/nbproject/private/
/vendor/
/debian/debhelper-build-stamp
/clover.log
debian/php-flexibee-bricks-doc.debhelper.log
debian/php-flexibee-bricks.debhelper.log
debian/php-flexibee-bricks-doc.substvars
debian/php-flexibee-bricks.substvars
debian/php-flexibee-bricks/
debian/php-flexibee-bricks-doc/
debian/php-flexibee-bricks.debhelper.log
