Source: php-vitexsoftware-abraflexi-bricks
Build-Depends: debhelper (>= 7.0.50~), composer, phpdocumentor 
Standards-Version: 4.3.0
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/php-abraflexi-bricks

Package: php-vitexsoftware-abraflexi-bricks
Depends: ${misc:Depends}, php-spojenet-abraflexi,php-vitexsoftware-ease-bricks, php-vitexsoftware-ease-html
Replaces: php-abraflexi-bricks
Suggests: php-spojenet-abraflexi-doc,php-abraflexi-bricks-doc
Architecture: all
Section: web
Priority: optional
Description: PHP Based AbraFlexi RestAPI/Json library AddOns
 Additional classes and code snipplets for spojenet/abraflexi library

Package: php-vitexsoftware-abraflexi-bricks-doc
Depends: ${misc:Depends}
Suggests: www-browser
Architecture: all
Section: doc
Priority: optional
Description: PHP Based AbraFlexi RestAPI/Json library Addons documentation
 PHPDocumentor html documentation for AbraFlexi Bricks php library
