#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_test:
	echo tests temporarly skipped for now in rules file

#override_dh_prep:
#	mkdir -p docs/
#	rm -rf docs/*  
#	phpdoc -d src
#	mv .phpdoc/build/* docs
#	dh_prep


override_dh_install:
	dh_install
	# Generate Debian-style autoloader with phpab and register it for pkg-php-tools
	phpab --output debian/php-vitexsoftware-abraflexi-bricks/usr/share/php/AbraFlexiBricks/autoload.php \
		--basedir debian/php-vitexsoftware-abraflexi-bricks/usr/share/php/AbraFlexiBricks \
		--tolerant \
		debian/php-vitexsoftware-abraflexi-bricks/usr/share/php/AbraFlexiBricks
	# Ensure dependency autoloaders are required at top of generated autoload.php
	echo "require_once '/usr/share/php/Ease/autoload.php';" >> debian/php-vitexsoftware-abraflexi-bricks/usr/share/php/AbraFlexiBricks/autoload.php
	echo "require_once '/usr/share/php/AbraFlexi/autoload.php';" >> debian/php-vitexsoftware-abraflexi-bricks/usr/share/php/AbraFlexiBricks/autoload.php
	install -m0755 -d debian/php-vitexsoftware-abraflexi-bricks/usr/share/pkg-php-tools/autoloaders
	# Register autoloader: format matches example packages
	echo 'deb abraflexi-bricks AbraFlexiBricks/autoload.php' > debian/php-vitexsoftware-abraflexi-bricks/usr/share/pkg-php-tools/autoloaders/php-vitexsoftware-abraflexi-bricks
